<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/AdjRsq_and_Rsq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical Implementation of Adjusted R² and R²

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
data = {
    'X': [112.5, 140.2, 75, 80.79, 65.47, 123.25, 56.32, 45, 69.3, 80.89],
    'y': [20.5, 14, 15, 8.9, 7.89, 19, 17.55, 21.6, 18.78, 14.5] ,
}
df = pd.DataFrame(data=data, columns=['X', 'y'])
df

        X      y
0  112.50  20.50
1  140.20  14.00
2   75.00  15.00
3   80.79   8.90
4   65.47   7.89
5  123.25  19.00
6   56.32  17.55
7   45.00  21.60
8   69.30  18.78
9   80.89  14.50

In [3]:
X = df.drop(columns='y')
y = df.y

## Model

In [4]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X, y)

LinearRegression()

In [6]:
print(f'b-intercept: {reg.intercept_}')
print(f'coeficient (a): {reg.coef_}')

b-intercept: 15.569618348328861
coeficient (a): [0.00238455]

In [7]:
y_preds = reg.predict(X)
print(y_preds)

[15.83788039 15.90393246 15.74845971 15.76226626 15.72573493 15.86351432
 15.70391629 15.67692316 15.73486776 15.76250472]

In [8]:
res = {
    'Actual': y,
    'Predict': y_preds,
    'variance': y - y_preds
}
results = pd.DataFrame(data=res)
results

   Actual    Predict  variance
0   20.50  15.837880  4.662120
1   14.00  15.903932 -1.903932
2   15.00  15.748460 -0.748460
3    8.90  15.762266 -6.862266
4    7.89  15.725735 -7.835735
5   19.00  15.863514  3.136486
6   17.55  15.703916  1.846084
7   21.60  15.676923  5.923077
8   18.78  15.734868  3.045132
9   14.50  15.762505 -1.262505

In [12]:
from sklearn.metrics import r2_score

r2score = r2_score(y, y_preds)
print(f'r2_score: {r2score}')

r2_score: 0.00024814765714709086

In [15]:
import statsmodels.api as sm

X_opt = df.assign(
    intercept = np.ones((len(X), 1), dtype=int),
)

X_opt

        X      y  intercept
0  112.50  20.50          1
1  140.20  14.00          1
2   75.00  15.00          1
3   80.79   8.90          1
4   65.47   7.89          1
5  123.25  19.00          1
6   56.32  17.55          1
7   45.00  21.60          1
8   69.30  18.78          1
9   80.89  14.50          1

In [16]:
reg_OLS = sm.OLS(endog=y, exog=X_opt.drop(columns=['y'])).fit()
reg_OLS.summary()

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.125
Method:                 Least Squares   F-statistic:                  0.001986
Date:                Sun, 06 Mar 2022   Prob (F-statistic):              0.966
Time:                        14:55:32   Log-Likelihood:                -29.006
No. Observations:                  10   AIC:                             62.01
Df Residuals:                       8   BIC:                             62.62
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
X              0.0024      0.054      0.045      0.966      -0.121       0.126
intercept     15.5696      4.801      3.243      0.012       4.499      26.640
==============================================================================
Omnibus:                        0.951   Durbin-Watson:                   1.282
Prob(Omnibus):                  0.622   Jarque-Bera (JB):                0.774
Skew:                          -0.515   Prob(JB):                        0.679
Kurtosis:                       2.108   Cond. No.                         277.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""