<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Binary_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Binary Encoding

In [1]:
!pip install opendatasets --upgrade --quiet

In [2]:
import pandas as pd
import numpy as np
import opendatasets as od

In [3]:
url = 'https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho'
od.download(url)

Downloading vehicle-dataset-from-cardekho.zip to ./vehicle-dataset-from-cardekho

100%|██████████| 227k/227k [00:00<00:00, 43.1MB/s]

In [4]:
cars = pd.read_csv('./vehicle-dataset-from-cardekho/car data.csv')
cars.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
cat_features = cars.select_dtypes(include='object').columns.tolist()
cat_features

['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']

In [10]:
for cat in cat_features:
  print(cat, ':\n')
  print('num of unique labels: ', cars[cat].nunique())
  print(cars[cat].unique())
  print('*-*' * 15)
  print(cars[cat].value_counts())
  print('-*-' * 15)

Car_Name :

num of unique labels:  98
['ritz' 'sx4' 'ciaz' 'wagon r' 'swift' 'vitara brezza' 's cross'
 'alto 800' 'ertiga' 'dzire' 'alto k10' 'ignis' '800' 'baleno' 'omni'
 'fortuner' 'innova' 'corolla altis' 'etios cross' 'etios g' 'etios liva'
 'corolla' 'etios gd' 'camry' 'land cruiser' 'Royal Enfield Thunder 500'
 'UM Renegade Mojave' 'KTM RC200' 'Bajaj Dominar 400'
 'Royal Enfield Classic 350' 'KTM RC390' 'Hyosung GT250R'
 'Royal Enfield Thunder 350' 'KTM 390 Duke ' 'Mahindra Mojo XT300'
 'Bajaj Pulsar RS200' 'Royal Enfield Bullet 350'
 'Royal Enfield Classic 500' 'Bajaj Avenger 220' 'Bajaj Avenger 150'
 'Honda CB Hornet 160R' 'Yamaha FZ S V 2.0' 'Yamaha FZ 16'
 'TVS Apache RTR 160' 'Bajaj Pulsar 150' 'Honda CBR 150' 'Hero Extreme'
 'Bajaj Avenger 220 dtsi' 'Bajaj Avenger 150 street' 'Yamaha FZ  v 2.0'
 'Bajaj Pulsar  NS 200' 'Bajaj Pulsar 220 F' 'TVS Apache RTR 180'
 'Hero Passion X pro' 'Bajaj Pulsar NS 200' 'Yamaha Fazer '
 'Honda Activa 4G' 'TVS Sport ' 'Honda Dream Yuga '
 'Bajaj Avenger Street 220' 'Hero Splender iSmart' 'Activa 3g'
 'Hero Passion Pro' 'Honda CB Trigger' 'Yamaha FZ S '
 'Bajaj Pulsar 135 LS' 'Activa 4g' 'Honda CB Unicorn'
 'Hero Honda CBZ extreme' 'Honda Karizma' 'Honda Activa 125' 'TVS Jupyter'
 'Hero Honda Passion Pro' 'Hero Splender Plus' 'Honda CB Shine'
 'Bajaj Discover 100' 'Suzuki Access 125' 'TVS Wego' 'Honda CB twister'
 'Hero Glamour' 'Hero Super Splendor' 'Bajaj Discover 125' 'Hero Hunk'
 'Hero  Ignitor Disc' 'Hero  CBZ Xtreme' 'Bajaj  ct 100' 'i20' 'grand i10'
 'i10' 'eon' 'xcent' 'elantra' 'creta' 'verna' 'city' 'brio' 'amaze'
 'jazz']
*-**-**-**-**-**-**-**-**-**-**-**-**-**-**-*
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: Car_Name, Length: 98, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Fuel_Type :

num of unique labels:  3
['Petrol' 'Diesel' 'CNG']
*-**-**-**-**-**-**-**-**-**-**-**-**-**-**-*
Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Seller_Type :

num of unique labels:  2
['Dealer' 'Individual']
*-**-**-**-**-**-**-**-**-**-**-**-**-**-**-*
Dealer        195
Individual    106
Name: Seller_Type, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
Transmission :

num of unique labels:  2
['Manual' 'Automatic']
*-**-**-**-**-**-**-**-**-**-**-**-**-**-**-*
Manual       261
Automatic     40
Name: Transmission, dtype: int64
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-