<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/ConfusionMatrix_BinaryClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Actual Values

In [2]:
actual = pd.Series([1, 1, 0, 1, 0, 0, 1, 0, 0, 0], name='Actual')

In [3]:
print(actual)

0    1
1    1
2    0
3    1
4    0
5    0
6    1
7    0
8    0
9    0
Name: Actual, dtype: int64

## Predicted Values

In [4]:
pred = pd.Series([1, 0, 0, 1, 0, 0, 1, 1, 1, 0], name='Pred')

In [5]:
pred

0    1
1    0
2    0
3    1
4    0
5    0
6    1
7    1
8    1
9    0
Name: Pred, dtype: int64

In [7]:
mask = (actual == 1)
actual[mask].sum() * 100 / len(actual)

40.0

## Confusion Matrix

In [9]:
cm1 = pd.crosstab(actual, pred)
cm1

Pred    0  1
Actual
0       4  2
1       1  3

In [10]:
cm2 = pd.crosstab(actual, pred, margins=True)

In [11]:
cm2

Pred    0  1  All
Actual
0       4  2    6
1       1  3    4
All     5  5   10

## Confusion Matrix by default

In [12]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(actual, pred, labels=[0, 1])
cm

array([[4, 2],
       [1, 3]])