<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identify columns with single value

In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

In [2]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv'
urlretrieve(url, 'oil.csv')

('oil.csv', <http.client.HTTPMessage at 0x7f2269cec750>)

In [3]:
oil_df = pd.read_csv('oil.csv', header=None)
oil_df.head()

   0      1        2       3    4   ...  45        46     47    48  49
0   1   2558  1506.09  456.63   90  ...   0  33243.19  65.74  7.95   1
1   2  22325    79.11  841.03  180  ...   0  51572.04  65.73  6.26   0
2   3    115  1449.85  608.43   88  ...   1  31692.84  65.81  7.84   1
3   4   1201  1562.53  295.65   66  ...   1  37696.21  65.67  8.07   1
4   5    312   950.27  440.86   37  ...   0  29038.17  65.66  7.35   0

[5 rows x 50 columns]

In [4]:
oil_df.shape

(937, 50)

In [5]:
oil_df.nunique()

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

## Drop columns that contains one single value

In [6]:
counts = oil_df.nunique()
cols_to_del = [i for i, x in enumerate(counts) if x == 1]
print(cols_to_del)

[22]

In [7]:
oil_df.drop(columns=cols_to_del, axis=1, inplace=True)
oil_df.shape

(937, 49)

## Identify and drop columns with fiew values < 1%

In [8]:
oil_df.value_counts(normalize=True, dropna=False)

0    1    2        3        4    5         6      7      8       9     10     11    12    13    14    15    16       17      18    19    20    21      23    24       25     26     27     28    29     30     31    32   33    34  35    36    37     38   39  40       41      42      43      44    45  46        47     48     49
1    109  441.43   303.14   18   882900.0  52.11  16.85  7067.0  0.32  124.9  0.34  0.38  0.62  0.24  0.37  11.66    7.28    0.78  0.34  0.40  69.09   0.75  239.69    0.18  3.83    0.73  3.21  -3.38  -0.41  1.22  0.0  1.22  53  2790  0.00  56.57  102  73  2534.42  853.81  291.60  220.85  8.69  0   27407.50  65.90  7.55   1     0.001067
101  110  1586.95  942.99   1    275000.0  34.49  8.56   3400.0  0.25  80.9   0.24  0.30  0.50  0.17  0.33  55.45    14.29   1.99  0.21  0.29  75.26   0.46  351.67    0.18  9.24    0.93  4.54  -2.82  -0.62  2.17  0.0  2.17  47  2610  0.01  42.04  78   55  1150.00  350.00  191.30  93.73   6.01  0   7555.21   66.01  7.97   0     0.001067
97   184  951.92   859.54   81   460000.0  39.26  7.63   4010.0  0.19  114.7  0.20  0.27  0.49  0.12  0.37  68.60    27.04   0.90  0.17  0.23  85.22   0.46  422.12    1.01  12.06   0.48  3.15  -2.81  -0.23  1.95  0.0  1.95  51  2880  0.01  34.96  85   63  1216.55  509.90  303.52  134.57  4.01  0   3295.42   65.86  7.21   0     0.001067
98   25   4.72     447.24   65   202500.0  57.80  15.55  1768.0  0.27  114.5  0.25  0.35  0.97  0.18  0.79  34.85    16.99   0.39  0.25  0.34  55.85   1.03  221.97    0.87  5.07    0.04  4.19  -0.51  -0.26  1.09  0.0  1.09  12  810   0.00  15.44  82   50  886.40   284.60  131.62  94.13   6.73  0   2593.15   65.92  6.03   0     0.001067
     58   1419.69  862.72   90   145000.0  40.45  6.24   1650.0  0.15  87.9   0.19  0.26  0.37  0.13  0.24  63.39    22.44   0.92  0.17  0.24  85.22   0.47  422.12    1.01  12.06  -0.44  2.89  -2.40  -0.25  1.95  0.0  1.95  15  900   0.01  18.78  85   63  550.00   250.00  181.82  51.35   3.03  0   5733.29   65.92  7.73   0     0.001067
                                                                                                                                                                                                                                                                                                                                           ...
42   70   1421.13  1095.74  67   175000.0  39.14  9.04   2510.0  0.23  69.7   0.25  0.35  0.76  0.19  0.58  27.63    11.53   0.89  0.25  0.34  85.22   0.46  422.12    1.01  12.06  -0.12  4.92  -2.53  -0.31  1.94  0.0  1.94  25  1440  0.01  36.00  85   63  715.89   269.26  183.44  55.94   3.90  0   6038.61   66.03  7.65   0     0.001067
     98   1636.26  1602.01  19   245000.0  36.64  10.16  2870.0  0.28  85.4   0.28  0.38  0.74  0.20  0.54  50.36    10.69   2.12  0.26  0.36  75.26   0.49  351.67    0.18  9.24   -0.09  4.08  -2.93  -0.73  2.16  0.0  2.16  19  1260  0.01  33.62  78   55  886.00   474.34  261.71  131.24  3.39  0   3521.39   66.34  7.80   0     0.001067
     231  484.66   1779.41  164  324843.0  25.23  6.38   2694.5  0.25  120.6  0.28  0.41  0.74  0.21  0.53  23.12    14.55   0.68  0.23  0.30  123.47  0.20  2036.80  -0.71  2.96    0.70  3.99  -5.67  -1.02  2.91  0.0  2.91  46  2520  0.01  22.35  143  86  0.00     0.00    0.00    0.00    0.00  0   8276.37   36.36  14.82  0     0.001067
43   14   445.21   654.64   21   113400.0  82.64  21.51  868.0   0.26  130.6  0.24  0.23  0.25  0.19  0.06  17.18    19.40   1.24  0.25  0.23  69.09   1.20  239.69    0.18  3.83    1.08  3.05  -2.41  -0.48  1.22  0.0  1.22  7   360   0.00  6.64   102  73  284.60   284.60  184.87  97.39   1.54  0   22431.39  66.37  7.22   0     0.001067
352  53   491.81   191.89   59   132500.0  37.68  1.21   1450.0  0.03  91.4   0.04  0.04  0.06  0.02  0.03  2253.13  915.18  0.68  0.03  0.04  67.87   0.56  421.21    1.83  14.78   0.30  2.98  -1.49  -0.63  1.97  0.0  1.97  16  990   0.01  15.87  64   39  447.21   335.41  211.22  102.19  2.12  0   19816.40  65.49  6.93   0     0.001067
Length: 937, dtype: float64

In [9]:
counts = oil_df.nunique()
col_less_than_1 = [ i for i, x in enumerate(counts) if (
    float(x)/oil_df.shape[0]*100) < 1]

col_less_than_1

[21, 23, 24, 25, 31, 35, 37, 38, 44, 48]

In [10]:
oil_df.drop(columns=col_less_than_1, inplace=True)

In [11]:
oil_df.shape

(937, 39)

## Columns with low **variance**

In [12]:
from sklearn.feature_selection import VarianceThreshold

oil_df = pd.read_csv('oil.csv', header=None)

# split data into outputs and inputs

# data = oil_df.to_numpy()
# X = data[:, :-1]
# y = data[:, -1]

X = oil_df.iloc[:, :-1]
y = oil_df.iloc[:, -1]
print(X.shape, y.shape)

# define the transform
transform = VarianceThreshold()

# transform the input data
X_sel = transform.fit_transform(X)
print(X_sel.shape)

(937, 49) (937,)
(937, 48)

---
# Duplicates Data

In [13]:
url = (
    'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b'
      '0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')
urlretrieve(url, 'iris.csv')

('iris.csv', <http.client.HTTPMessage at 0x7f226989cb50>)

In [14]:
iris = pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa