<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identify columns with single value

In [1]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

In [2]:
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/oil-spill.csv'
urlretrieve(url, 'oil.csv')

('oil.csv', <http.client.HTTPMessage at 0x7ff50ca897d0>)

In [3]:
oil_df = pd.read_csv('oil.csv', header=None)
oil_df.head()

   0      1        2       3    4   ...  45        46     47    48  49
0   1   2558  1506.09  456.63   90  ...   0  33243.19  65.74  7.95   1
1   2  22325    79.11  841.03  180  ...   0  51572.04  65.73  6.26   0
2   3    115  1449.85  608.43   88  ...   1  31692.84  65.81  7.84   1
3   4   1201  1562.53  295.65   66  ...   1  37696.21  65.67  8.07   1
4   5    312   950.27  440.86   37  ...   0  29038.17  65.66  7.35   0

[5 rows x 50 columns]

In [4]:
oil_df.shape

(937, 50)

In [5]:
oil_df.nunique()

0     238
1     297
2     927
3     933
4     179
5     375
6     820
7     618
8     561
9      57
10    577
11     59
12     73
13    107
14     53
15     91
16    893
17    810
18    170
19     53
20     68
21      9
22      1
23     92
24      9
25      8
26      9
27    308
28    447
29    392
30    107
31     42
32      4
33     45
34    141
35    110
36      3
37    758
38      9
39      9
40    388
41    220
42    644
43    649
44    499
45      2
46    937
47    169
48    286
49      2
dtype: int64

## Drop columns that contains one single value

In [7]:
counts = oil_df.nunique()
cols_to_del = [i for i, x in enumerate(counts) if x == 1]
print(cols_to_del)

[22]

In [8]:
oil_df.drop(columns=cols_to_del, axis=1, inplace=True)
oil_df.shape

(937, 49)