<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Exercise_M2_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The aim of this exercise is to make the following experiments:

train and test a support vector machine classifier through cross-validation;
study the effect of the parameter gamma of this classifier using a validation curve;
use a learning curve to determine the usefulness of adding new samples in the dataset when building a classifier.
To make these experiments we will first load the blood transfusion dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
blood_transfusion = pd.read_csv('./blood_transfusion.csv')
blood_transfusion.head()

   V1  V2     V3  V4  Class
0   2  50  12500  98      2
1   0  13   3250  28      2
2   1  16   4000  35      2
3   2  20   5000  45      2
4   1  24   6000  77      1

In [3]:
blood_transfusion.rename(columns={
    'V1':'Recency',
    'V2':'Frequency',
    'V3': 'Monetary',
    'V4': 'Time',
}, inplace=True)

blood_transfusion.head()

   Recency  Frequency  Monetary  Time  Class
0        2         50     12500    98      2
1        0         13      3250    28      2
2        1         16      4000    35      2
3        2         20      5000    45      2
4        1         24      6000    77      1

In [4]:
blood_transfusion.shape

(748, 5)

In [5]:
blood_transfusion.dtypes.value_counts()

int64    5
dtype: int64

In [6]:
blood_transfusion.isna().sum()

Recency      0
Frequency    0
Monetary     0
Time         0
Class        0
dtype: int64

In [7]:
blood_transfusion.Class.value_counts()

1    570
2    178
Name: Class, dtype: int64