<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Feature_Selection_with_Filter_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Selection Methods
## - Dropping constant Features by "variance threshold" methods
Drop the constant features that are not useful

In [1]:
import numpy as np
import pandas as pd

data = {
    'X1': [10, 12, 24, 111, 52],
    'X2': [41, 50, 75, 45, 73],
    'X3': [5, 5, 5, 5, 5],
    'X4': [0, 0, 0, 0, 0],
    'X5': [1, 1, 1, 1, 1],
    'X6': [10, 8, 5, 6, 74],
    
}

df = pd.DataFrame(data=data, columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

df

    X1  X2  X3  X4  X5  X6
0   10  41   5   0   1  10
1   12  50   5   0   1   8
2   24  75   5   0   1   5
3  111  45   5   0   1   6
4   52  73   5   0   1  74

**Variance threshold**
- This method drop all low-variance features
- This feature selection algorithm works only on the independent features (X) not on the target variable (y)
- This method removes features with variation below cutoff

In [2]:
from sklearn.feature_selection import VarianceThreshold

vt = VarianceThreshold(threshold=0)
vt.fit(df)

VarianceThreshold(threshold=0)

In [3]:
vt.get_support()

array([ True,  True, False, False, False,  True])

In [4]:
constant_cols = (
    [col for col in df.columns if col not in df.columns[vt.get_support()] ]
    )
constant_cols

['X3', 'X4', 'X5']

In [5]:
df1 = df.drop(columns=constant_cols)
df1

    X1  X2  X6
0   10  41  10
1   12  50   8
2   24  75   5
3  111  45   6
4   52  73  74

## - Check Duplicate columns

In [6]:
data = {
    'X1': [10, 12, 24, 111, 52],
    'X2': [41, 50, 75, 45, 73],
    'X3': [5, 5, 5, 5, 5],
    'X4': [0, 0, 0, 0, 0],
    'X5': [5, 5, 5, 5, 5],
    'X6': [41, 50, 75, 45, 73],
    'X7': [10, 8, 5, 6, 74],
}

df = pd.DataFrame(data=data, columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7'])

df

    X1  X2  X3  X4  X5  X6  X7
0   10  41   5   0   5  41  10
1   12  50   5   0   5  50   8
2   24  75   5   0   5  75   5
3  111  45   5   0   5  45   6
4   52  73   5   0   5  73  74

## Check if duplicated columns exist or not

In [7]:
duplicated_cols = []

for item in range(len(df.columns)):
  current_col = df.columns[item]
  for col in df.columns[item+1:]:
    if df[current_col].equals(df[col]):
      duplicated_cols.append(col)

len(duplicated_cols)

2