<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Feature_Scaling_Techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Feature Scaling Techniques
- MinMaxScaler
- StandardScaler
- Normalizer
- Binarizer

## 1- MinMaxScaler

In [1]:
import pandas as pd
import numpy as np

In [2]:
diabetes = pd.read_excel('diabetes.xlsx', sheet_name='Diabetes_Classification')
diabetes.head()

,Patient number,Cholesterol,Glucose,HDL Chol,Chol/HDL ratio,Age,Gender,Height,Weight,BMI,Systolic BP,Diastolic BP,waist,hip,Waist/hip ratio,Diabetes
0,1,193,77,49,3.9,19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.6,19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,3,217,75,54,4.0,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.2,20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.4,20,female,70,141,20.2,122,86,32,39,0.82,No diabetes

In [3]:
diabetes.shape

(390, 16)

In [4]:
diabetes.isna().sum()

Patient number     0
Cholesterol        0
Glucose            0
HDL Chol           0
Chol/HDL ratio     0
Age                0
Gender             0
Height             0
Weight             0
BMI                0
Systolic BP        0
Diastolic BP       0
waist              0
hip                0
Waist/hip ratio    0
Diabetes           0
dtype: int64

In [6]:
diabetes.Diabetes.value_counts(normalize=True)

No diabetes    0.846154
Diabetes       0.153846
Name: Diabetes, dtype: float64

In [7]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Patient number   390 non-null    int64
 1   Cholesterol      390 non-null    int64
 2   Glucose          390 non-null    int64
 3   HDL Chol         390 non-null    int64
 4   Chol/HDL ratio   390 non-null    float64
 5   Age              390 non-null    int64
 6   Gender           390 non-null    object
 7   Height           390 non-null    int64
 8   Weight           390 non-null    int64
 9   BMI              390 non-null    float64
 10  Systolic BP      390 non-null    int64
 11  Diastolic BP     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  Waist/hip ratio  390 non-null    float64
 15  Diabetes         390 non-null    object
dtypes: float64(3), int64(11), object(2)
memory usage: 48.9+ KB

In [9]:
print(diabetes.describe().T)
print('-*-' * 10)
print(diabetes.select_dtypes(include='object').describe().T)

                 count        mean         std    min     25%     50%  \
Patient number   390.0  195.500000  112.727548   1.00   98.25  195.50
Cholesterol      390.0  207.230769   44.666005  78.00  179.00  203.00
Glucose          390.0  107.338462   53.798188  48.00   81.00   90.00
HDL Chol         390.0   50.266667   17.279069  12.00   38.00   46.00
Chol/HDL ratio   390.0    4.524615    1.736634   1.50    3.20    4.20
Age              390.0   46.774359   16.435911  19.00   34.00   44.50
Height           390.0   65.951282    3.918867  52.00   63.00   66.00
Weight           390.0  177.407692   40.407824  99.00  150.25  173.00
BMI              390.0   28.775641    6.600915  15.20   24.10   27.80
Systolic BP      390.0  137.133333   22.859528  90.00  122.00  136.00
Diastolic BP     390.0   83.289744   13.498192  48.00   75.00   82.00
waist            390.0   37.869231    5.760947  26.00   33.00   37.00
hip              390.0   42.992308    5.664342  30.00   39.00   42.00
Waist/hip ratio  390.0    0.881385    0.073212   0.68    0.83    0.88

                     75%     max
Patient number   292.750  390.00
Cholesterol      229.000  443.00
Glucose          107.750  385.00
HDL Chol          59.000  120.00
Chol/HDL ratio     5.400   19.30
Age               60.000   92.00
Height            69.000   76.00
Weight           200.000  325.00
BMI               32.275   55.80
Systolic BP      148.000  250.00
Diastolic BP      90.000  124.00
waist             41.000   56.00
hip               46.000   64.00
Waist/hip ratio    0.930    1.14
-*--*--*--*--*--*--*--*--*--*-
         count unique          top freq
Gender     390      2       female  228
Diabetes   390      2  No diabetes  330

In [13]:
num_features = diabetes.select_dtypes(include='number').columns.tolist()
cat_features = diabetes.select_dtypes(include='object').columns.tolist()
num_features = num_features[1:]
cat_features = cat_features[:-1]
print(num_features)
print(cat_features)

['Cholesterol', 'Glucose', 'HDL Chol', 'Chol/HDL ratio', 'Age', 'Height', 'Weight', 'BMI', 'Systolic BP', 'Diastolic BP', 'waist', 'hip', 'Waist/hip ratio']
['Gender']