<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Feature_Selection_with_Filter_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Selection Methods
## - Dropping constant Features by "variance threshold" methods
Drop the constant features that are not useful

In [1]:
import numpy as np
import pandas as pd

data = {
    'X1': [10, 12, 24, 111, 52],
    'X2': [41, 50, 75, 45, 73],
    'X3': [5, 5, 5, 5, 5],
    'X4': [0, 0, 0, 0, 0],
    'X5': [1, 1, 1, 1, 1],
    'X6': [10, 8, 5, 6, 74],
    
}

df = pd.DataFrame(data=data, columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

df

    X1  X2  X3  X4  X5  X6
0   10  41   5   0   1  10
1   12  50   5   0   1   8
2   24  75   5   0   1   5
3  111  45   5   0   1   6
4   52  73   5   0   1  74