<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/KNN_Imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing values by using KNN Imputation
- Choose a missing value of one variable
- Select values of other columns in that row(observation)
- Choose number of neighbors
- Calculate non_Eclidean distance from all other data corresponding row elements $d_{xy} = \sqrt{weight * squaredDistanceFromPresentCoordinates}$   
$weight = \frac{Total Number Of Coordinates}{Number Of Present Coordinates}$
- Choose smallest two distances wich are corresponding values of same feature and calculate the mean of these values and fill the missing value with that mean.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create DF with missing values

d = {
    'A': [100, 90, np.nan, 95],
     'B': [30, 45, 56, np.nan],
     'C': [np.nan, 40, 80, 98],
     'D': [np.nan, 55, np.nan, 39],
     'E': [75, np.nan, np.nan, 89]

}

df = pd.DataFrame(data=d)
df

       A     B     C     D     E
0  100.0  30.0   NaN   NaN  75.0
1   90.0  45.0  40.0  55.0   NaN
2    NaN  56.0  80.0   NaN   NaN
3   95.0   NaN  98.0  39.0  89.0

In [3]:
df.shape

(4, 5)

In [4]:
df.isna().sum()

A    1
B    1
C    1
D    2
E    2
dtype: int64

## Load the KNN Imputer

In [5]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=5)
df2 = df.copy()
df2[df2.columns] = imputer.fit_transform(df2[df2.columns])
print(df)
print('-*-' * 15)
print(df2)

       A     B     C     D     E
0  100.0  30.0   NaN   NaN  75.0
1   90.0  45.0  40.0  55.0   NaN
2    NaN  56.0  80.0   NaN   NaN
3   95.0   NaN  98.0  39.0  89.0
-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-
       A          B          C     D     E
0  100.0  30.000000  72.666667  47.0  75.0
1   90.0  45.000000  40.000000  55.0  82.0
2   95.0  56.000000  80.000000  47.0  82.0
3   95.0  43.666667  98.000000  39.0  89.0