<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/KNN_Imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Missing values by using KNN Imputation
- Choose a missing value of one variable
- Select values of other columns in that row(observation)
- Choose number of neighbors
- Calculate non_Eclidean distance from all other data corresponding row elements $d_{xy} = \sqrt{weight * squaredDistanceFromPresentCoordinates}$   
$weight = \frac{Total Number Of Coordinates}{Number Of Present Coordinates}$
- Choose smallest two distances wich are corresponding values of same feature and calculate the mean of these values and fill the missing value with that mean.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create DF with missing values

d = {
    'A': [100, 90, np.nan, 95],
     'B': [30, 45, 56, np.nan],
     'C': [np.nan, 40, 80, 98],
     'D': [np.nan, 55, np.nan, 39],

}

df = pd.DataFrame(data=d)
df

       A     B     C     D
0  100.0  30.0   NaN   NaN
1   90.0  45.0  40.0  55.0
2    NaN  56.0  80.0   NaN
3   95.0   NaN  98.0  39.0