<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/LR_without_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Linear regression without scikit-learn
---

In [2]:
!pip install -U yellowbrick --quiet

     |████████████████████████████████| 274 kB 13.8 MB/s

In [3]:
import pandas as pd
import numpy as np
import yellowbrick
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
penguins = pd.read_csv('./penguins.csv')
penguins.head()

  species     island culmen_length_mm  ... flipper_length_mm body_mass_g     sex
0  Adelie  Torgersen             39.1  ...             181.0      3750.0    MALE
1  Adelie  Torgersen             39.5  ...             186.0      3800.0  FEMALE
2  Adelie  Torgersen             40.3  ...             195.0      3250.0  FEMALE
3  Adelie  Torgersen                ?  ...                 ?           ?       ?
4  Adelie  Torgersen             36.7  ...             193.0      3450.0  FEMALE

[5 rows x 7 columns]

In [5]:
df = penguins[['flipper_length_mm', 'body_mass_g']]
df.head()

  flipper_length_mm body_mass_g
0             181.0      3750.0
1             186.0      3800.0
2             195.0      3250.0
3                 ?           ?
4             193.0      3450.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   flipper_length_mm  344 non-null    object
 1   body_mass_g        344 non-null    object
dtypes: object(2)
memory usage: 5.5+ KB

In [7]:
(df == '?').sum()

flipper_length_mm    2
body_mass_g          2
dtype: int64

In [12]:
df.drop([3, 339], inplace=True)
(df == '?').sum()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

flipper_length_mm    0
body_mass_g          0
dtype: int64