<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/num_cat_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Using numerical and categorical variables together
---

In [1]:
import pandas as pd

adult_census = pd.read_csv("./adult.csv")
# drop the duplicated column `"education-num"` as stated in the first notebook
adult_census = adult_census.drop(columns="education-num")

target_name = "class"
target = adult_census[target_name]

data = adult_census.drop(columns=[target_name])

## Selection based on data types
We will separate categorical and numerical variables using their data types to identify them, as we saw previously that object corresponds to categorical columns (strings). We make use of `make_column_selector` helper to select the corresponding columns.

In [8]:
from sklearn.compose import make_column_selector as selector

numerical_data_selector = selector(dtype_include='number')
categorical_data_selector = selector(dtype_include='object')

numerical_columns = numerical_data_selector(data)
categorical_columns = categorical_data_selector(data)

In [9]:
categorical_columns

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']