<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Outliers_Using_IQR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find Oultiers using "IQR"
- Find the quantiles (**Q1** & **Q3**) 
- Calculate the IQR using Q1 & Q3
- Calculate the lower limit (**LL**) and upper limit (**UL**)
- Check the outliers using LL and UL
- View total outliers
- Remove outliers if exists
- Create a new DF after removing outliers

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

In [2]:
df = pd.read_csv('./smart.csv')
df.head()

   dist  calc
0   375   116
1   328    65
2   370   138
3   401   127
4   383   108

In [3]:
df.shape

(40, 2)

In [4]:
df.describe().T

      count     mean        std   min     25%    50%     75%    max
dist   40.0  333.775  96.597098  90.0  317.00  359.0  390.50  466.0
calc   40.0  145.525  83.325739  44.0   78.25  117.0  220.75  307.0