<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Predicting_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Predicting missing values of Data by Linear Regression Model
- Step1: separate the Null values from DF and consider as test data
- Step2: drop the Null values from DF and consider as train data
- Step3: create X_train and y_train from train data
- Step4: Build the linear regression model
- Step5: create the X_test from test data
- Step6: apply the model on X_test of test data and make predictions
- Step7: replace missing values with predicted values

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sample_data.csv')
df

    Experience  Salary   Age
0            3   20000  27.0
1            4   28000  30.0
2            1   15000  38.0
3            8   40000  45.0
4            7   40000  33.0
5           10   50000   NaN
6           12   51000   NaN
7            2    9000  27.0
8           16   61000  40.0
9           21   98000  55.0
10          20   96000  50.0
11           4   24000  40.0
12           5   30000  51.0
13          16   60000   NaN
14          17   65000   NaN
15          25   99000  57.0
16          18   65000   NaN
17           6   31000  32.0
18           2   21000  30.0
19           8   36000  32.0

In [3]:
df.shape

(20, 3)

In [4]:
df.isna().sum()

Experience    0
Salary        0
Age           5
dtype: int64

## 1. Separate the Null values 
Separate the Null values of 'Age' column and consider as test data

In [5]:
test_data = df[df.Age.isna()]

In [6]:
test_data

    Experience  Salary  Age
5           10   50000  NaN
6           12   51000  NaN
13          16   60000  NaN
14          17   65000  NaN
16          18   65000  NaN

In [7]:
test_data.shape

(5, 3)

This test data contain the Null values.

## 2. drop the Null values from DF and consider as train data

In [8]:
train_data = df[~df.Age.isna()]

In [9]:
train_data

    Experience  Salary   Age
0            3   20000  27.0
1            4   28000  30.0
2            1   15000  38.0
3            8   40000  45.0
4            7   40000  33.0
7            2    9000  27.0
8           16   61000  40.0
9           21   98000  55.0
10          20   96000  50.0
11           4   24000  40.0
12           5   30000  51.0
15          25   99000  57.0
17           6   31000  32.0
18           2   21000  30.0
19           8   36000  32.0

In [10]:
train_data.shape

(15, 3)

In [11]:
train_data.isna().sum()

Experience    0
Salary        0
Age           0
dtype: int64

## 3. create X_train and y_train from train data

In [12]:
X_train, y_train = train_data.drop(columns=['Age']), train_data.Age

X_train.shape, y_train.shape

((15, 2), (15,))

## 4. Model
Preparing a ML model (linear regression) by training the train dataset and predicting the missing values on test datset

In [13]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

## 5. Create X_test

In [14]:
X_test = test_data.drop('Age', axis=1)

## 6. Make prediction on X_test

In [15]:
preds = reg.predict(X_test)
preds

array([41.09297439, 40.78219273, 42.5836569 , 43.98592659, 43.65746237])

In [16]:
preds.shape

(5,)

## 7. Replace missing values with predicted values

In [17]:
test_data

    Experience  Salary  Age
5           10   50000  NaN
6           12   51000  NaN
13          16   60000  NaN
14          17   65000  NaN
16          18   65000  NaN

In [18]:
test_data = test_data.assign(
    Age = preds
)
test_data

    Experience  Salary        Age
5           10   50000  41.092974
6           12   51000  40.782193
13          16   60000  42.583657
14          17   65000  43.985927
16          18   65000  43.657462

In [34]:
df

    Experience  Salary   Age
0            3   20000  27.0
1            4   28000  30.0
2            1   15000  38.0
3            8   40000  45.0
4            7   40000  33.0
5           10   50000   NaN
6           12   51000   NaN
7            2    9000  27.0
8           16   61000  40.0
9           21   98000  55.0
10          20   96000  50.0
11           4   24000  40.0
12           5   30000  51.0
13          16   60000   NaN
14          17   65000   NaN
15          25   99000  57.0
16          18   65000   NaN
17           6   31000  32.0
18           2   21000  30.0
19           8   36000  32.0

In [33]:
df2 = pd.concat([train_data, test_data], ignore_index=True)
df2

    Experience  Salary        Age
0            3   20000  27.000000
1            4   28000  30.000000
2            1   15000  38.000000
3            8   40000  45.000000
4            7   40000  33.000000
5            2    9000  27.000000
6           16   61000  40.000000
7           21   98000  55.000000
8           20   96000  50.000000
9            4   24000  40.000000
10           5   30000  51.000000
11          25   99000  57.000000
12           6   31000  32.000000
13           2   21000  30.000000
14           8   36000  32.000000
15          10   50000  41.092974
16          12   51000  40.782193
17          16   60000  42.583657
18          17   65000  43.985927
19          18   65000  43.657462