<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Predicting_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Predicting missing values of Data by Linear Regression Model
- Step1: separate the Null values from DF and consider as test data
- Step2: drop the Null values from DF and consider as train data
- Step3: create X_train and y_train from train data
- Step4: Build the linear regression model
- Step5: create the X_test from test data
- Step6: apply the model on X_test of test data and make predictions
- Step7: replace missing values with predicted values

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('sample_data.csv')
df

    Experience  Salary   Age
0            3   20000  27.0
1            4   28000  30.0
2            1   15000  38.0
3            8   40000  45.0
4            7   40000  33.0
5           10   50000   NaN
6           12   51000   NaN
7            2    9000  27.0
8           16   61000  40.0
9           21   98000  55.0
10          20   96000  50.0
11           4   24000  40.0
12           5   30000  51.0
13          16   60000   NaN
14          17   65000   NaN
15          25   99000  57.0
16          18   65000   NaN
17           6   31000  32.0
18           2   21000  30.0
19           8   36000  32.0

In [3]:
df.shape

(20, 3)

In [4]:
df.isna().sum()

Experience    0
Salary        0
Age           5
dtype: int64