<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/Simple_Linear_Regression_Basic_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

In [5]:
!pip install opendatasets --quiet

In [8]:
import opendatasets as od 

url = 'https://www.kaggle.com/rohankayan/years-of-experience-and-salary-dataset'
od.download(url)

Downloading years-of-experience-and-salary-dataset.zip to ./years-of-experience-and-salary-dataset

100%|██████████| 378/378 [00:00<00:00, 215kB/s]

In [9]:
salary_df = pd.read_csv('./salary/Salary_Data.csv')
salary_df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

## Clean Data

In [10]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [11]:
salary_df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64