<a href="https://colab.research.google.com/github/dajebbar/FreeCodeCamp-python-data-analysis/blob/main/TargetBasedEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Target Based Encoding Technique

In [1]:
import pandas as pd

In [2]:
states = {
    'state': ['AL', 'AZ', 'CA', 'FL', 'AL', 'AZ', 'AZ', 'AZ', 'CA', 'AL', 'FL',
              'FL', 'FL'
              ],
    'target': [1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0],
}

data = pd.DataFrame(data=states, columns=['state', 'target'])
data

   state  target
0     AL       1
1     AZ       1
2     CA       1
3     FL       1
4     AL       1
5     AZ       0
6     AZ       1
7     AZ       1
8     CA       0
9     AL       0
10    FL       1
11    FL       1
12    FL       0

In [9]:
data.shape

(13, 2)

In [10]:
# Check the unique labels of the target
data.target.unique()

array([1, 0])

In [11]:
data.state.value_counts()

AZ    4
FL    4
AL    3
CA    2
Name: state, dtype: int64